<div id="message-<%= message.id %>">
  <small>
    <strong><%= message.user.first_name %></strong>
  </small>
  <p><%= message.content %></p>
  <small>
    <p class="text-end mb-0"><%= message.created_at.strftime("%b %e at %l:%M %p") %></p>
  </small>
</div>
