// Define variables for your color scheme

$blue-dark: #113D6A;
$gray: #6E7376;
$lighter-gray: #D8D8D8;
$light-gray: #F5F5F5;
$green-light: #75B09C;
// $pink: #EDB5BF;
// colors bootstraps

$yellow: #FFC65A;
$orange: #EE8231;
$darker-orange: #e67016;
$light-orange: #F3E2DB;
$dark-grey: #3C3C3C;


// background colors

$bg-brown-light: #EEE2DC;
$bg-blue-dark: #113D6A;
$bg-light-gray: #F4F4F4;
