// Define variables for your color scheme

$blue-dark: #113D6A;
// $red-dark: #AC3B61;
$red-dark: #ed6b76;
$gray: #6E7376;
$light-gray: #F4F4F4;
// $pink: #EDB5BF;
// colors bootstraps

$yellow: #FFC65A;
$orange: #E67E22;



// background colors

$bg-brown-light: #EEE2DC;
$bg-blue-dark: #113D6A;
$bg-red-dark: #ed6b76;
$bg-light-gray: #F4F4F4;
