.mission-candidates {
  h4,
  p {
    margin-bottom: 0;
  }
}

.button_to {
  button {
    padding: 8px;
    border: none;
    background-color: $lighter-gray;
  }
}

.candidate-details,
.img-wrapper {
  a {
    color: $orange;
    text-decoration: underline;
  }
}

.right-col {
  padding-left: 30px;
}
