.mission-candidates {
  h4,
  p {
    margin-bottom: 0;
  }
}

.button_to {
  button {
    padding: 8px;
    border: none;
    background-color: $lighter-gray;
  }
}

.candidate-details,
.img-wrapper {
  a {
    color: $orange;
    text-decoration: underline;
  }
}

.card-container {
  box-shadow: 0 4px 17px rgba(0, 0, 0, .15);
  gap: 30px;

  figure {
    margin: 0;
    align-self: center;
  }

  .description-paraph {
    width: 90%;
    text-align: justify;
  }

  &:not(:nth-of-type(1)) {
    margin-top: 24px;
  }
}

.action-button {
  p {
    transition: .4s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.icons-div {
  i {
    font-size: 20px;
  }
}
