.review-content-wrapper {
  min-height: 364px;
  h3 {
    margin-top: 70px;
  }
  .default-user {
    box-shadow: none;
  }
}

.review_rating {
  align-items: center;
  margin-bottom: 0 !important;

  span {
    color: $orange;
  }
  .gl-star-rating--stars[class*=" s"] > span {
    filter: brightness(0) saturate(100%) invert(69%) sepia(78%) saturate(3010%) hue-rotate(339deg) brightness(97%) contrast(91%);
  }
}

.review-content{
  border-bottom: 1px solid $orange;
  p,
  i {
    margin: 0;
  }

  i {
    color: $orange;
  }
  a {
    text-decoration: none;
    color: $darker-orange;
  }
}

.review-form {
  textarea {
    height: 150px;
  }
  .form-control{
    &:disabled {
      background-color: rgba(243, 226, 219,0.4);
      border-color: $orange;
    }
  }
  .btn.disabled {
    background-color:$light-orange;
    border: 1px solid $darker-orange;
    color: $dark-grey;
  }
}
