.review-content-wrapper {
  min-height: 364px;
}

.review_rating {
  align-items: center;
  margin-bottom: 0 !important;

  span {
    color: $orange;
  }
}

.review-content{
  border-bottom: 1px solid $orange;
  p,
  i {
    margin: 0;
  }

  i {
    color: $orange;
  }
}

.review-form {
  textarea {
    height: 150px;
  }
  .form-control{
    &:disabled {
      background-color: rgba(243, 226, 219,0.4);
      border-color: $orange;
    }
  }
  .btn.disabled {
    background-color:$light-orange;
    border: 1px solid $darker-orange;
    color: $dark-grey;
  }
}
