<div class="container">
  <h1>CHATROOMS</h1>
  <% @chatrooms.each do |chatroom| %>
    <% if current_user == chatroom.user %>
      <%= link_to "#{chatroom.mission_candidate.user.fullname}'s chat", chatroom_path(chatroom) %>
    <% else %>
      <%= link_to "#{chatroom.user.fullname}'s chat", chatroom_path(chatroom) %>
    <% end %>
  <% end %>
</div>
