<div>
  <div class="grid grid-width d-flex">
    <%= render "shared/navbar_dashboard" %>
    <div class="col-6 grid-width m-auto">
      <div class="d-flex flex-column align-items-left justify-content-center text-align-center my-2 p-2">
        <h1>My personal information</h1>
      </div>
      <%= render "shared/user_edit" %>
    </div>
  </div>
</div>
