.banner {
  background-size: cover;
  background-position: center 0;
  padding: 60px 0;
  background-color: #F3E2DB;

  h1 {
    margin: 5;
    color: $dark-grey;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 42px;
    font-weight: bold;
  }

  mark {
    background-color: $darker-orange;
    color: white;
  }

  p {
    font-size: 20px;
    color: $dark-grey;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  img {
    width: 500px;
  }
}
