.btn-ghost {
  color: $blue-dark;
  border: 1px solid $red-dark;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: lighter;
  transition: background 0.3s ease;
}

.btn-ghost:hover {
  color: white;
  background-color: #c5688d;
}

.btn-gray {
  background-color: $lighter-gray;
  padding: 8px 14px;

  i {
    font-size: larger;
  }
}

.btn-orange {
  background-color: $orange;
  color: white;

  &:hover {
    background-color: $darker-orange;
    color: white;
  }
}

/**** Button flat and anim ****/
.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $red-dark;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #c5688d;
  // background: #BC69AA;
  color: white;
}


/* button animate */
//default button
.btn-animate {
  color: #fff;
  padding: 8px 20px !important;
  border-radius: 4px;
  background: $darker-orange;
  cursor: pointer;
  font-size:16px;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  span {
    z-index: 20;
  }

  &:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 1;
  }

  &:hover {
    color: white;
    text-decoration: none;
    &:after {
      left: 120%;
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
  &.btn-outline {
    color: $blue-dark;
    border: 1px solid $red-dark;
    background: transparent;

    &:after {
      background: $red-dark;
    }
    &:hover {
      color: $blue-dark;
    }
  }
}
