.footer {
  border-top: 2px solid $blue-dark;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: $blue-dark;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $blue-dark;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
.pages-link a {
  color: $blue-dark;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 10px;
}
.pages-link a:hover {
  border-bottom: 1px solid white;
}
