.footer {
  border-top: 2px solid $blue-dark;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $footer-height;
  padding: 0px 50px;
  color: $blue-dark;
}
