.wrapper-checkboxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  align-items: center;
  justify-items: center;
  color: white;

  .form-check {
    justify-self: center;
    padding-left: 0;
    color: rgba(20, 20, 20, .7);
    outline: 2px solid $orange;
    transition: background-color 0.5s ease;
    border-radius: 5px;

    width: 100%;
    height: 100%;

    label {
      cursor: pointer;
      width: 100%;
      height: 100%;
    }

    .form-check-input:hover+label {
      box-shadow: 0 0 0 0.4rem rgba(238, 130, 49, .5);
      border-radius: 5px;
      border: none;
    }

    .form-check-input:checked+label,
    .form-check-input:checked {
      background-color: $orange;
      border-radius: 5px;
      color: white;
    }

  }
}
abbr {
  display: none;
}
