.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 30%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: left;
  padding: 20px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
  margin: 2px;
  width: 150px;
  text-align: center;
  justify-content: center;
  flex-direction: column
}

.category-selector:checked + label {
  color: white !important;
}

#mission_categories_shopping + label {
  color: #e67016;
}

#mission_categories_shopping:checked + label {
  background-color: #e67016;
  opacity: 0.5;
}

#mission_categories_walking + label {
  color: #e67016;
}

#mission_categories_walking:checked + label {
  background-color: #e67016;
  opacity: 0.5;
}

#mission_categories_medical + label {
  color: #e67016;
}

#mission_categories_medical:checked + label {
  background-color: #e67016;
  opacity: 0.5;
}

#mission_categories_reading + label {
  color: #e67016;
}

#mission_categories_reading:checked + label {
  background-color: #e67016;
  opacity: 0.5;
}

#mission_categories_playing + label {
  color: #e67016;
}

#mission_categories_playing:checked + label {
  background-color: #e67016;
  opacity: 0.5;
}

#mission_categories_discussing + label {
  color: #e67016;
}

#mission_categories_discussing:checked + label {
  background-color: #e67016;
  opacity: 0.5;
}
