.nav-dashboard {
  background-color: rgb(243, 226, 219);

  a {
  text-align: left;
  color: inherit;
  font-size: 16px;
  margin-bottom: 14px;
  width: 100%;
  float: left;
  text-decoration: none}

  a:hover {
    color: inherit;
    background-color: rgb(238, 130, 49);
  }
}

.nav-selector {
  i {
    display: inline-block;
    margin: 20px;
  }
}
.current-user-rating {
  margin: none;
  padding: none;
  p {
    margin:none !important;
  }
  i {
    margin: none !important;
    padding: none;
  }
}

.user-avatar .current-user-rating{
  position: relative;
  top: 50px;
  right:50px;
}
