a {
  text-align: left;
  color: inherit;
  font-size: 16px;
  margin-bottom: 14px;
  width: 100%;
  float: left;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

i {
  display: inline-block;
  margin: 20px;
}
