<div class="container">
  <h1 class="text-center">MISSIONS</h1>
  <ul>
    <% if @missions.empty?  %>
      <p>There is no available missions currently</p>
    <% else %>
      <% @missions.each do |mission| %>
        <li><%= link_to "#{mission.title}", mission_path(mission) %></li>
      <% end %>
    <% end %>
  </ul>
</div>
