 <div>
  <div class="grid grid-width d-flex">
    <%= render "shared/navbar_dashboard" %>
    <div class="col-8">
      <div class="bg-light-gray m-3">
        <div class="container" id="index-missions">
          <h1 class="text-center p-4">My missions</h1>
            <%= render "list", missions: @mymissions %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
