<div class="py-5" id="new_form">
  <div class="col-4 container new-mission">
    <h1 class="text-center">Post a new mission</h1><br>
    <div class="p-4 col-12 pe-auto">
      <%= render 'mission_new_form' %>
    </div>
  </div>
</div>
