<div class="container">
  <h1 class="text-center"><%= @mission.title %></h1>
  <p><%= @mission.description %></p>
  <% if current_user != @mission.user %>
    <h2>hello</h2>
    <%= link_to "Apply to this mission", mission_mission_candidates_path(@mission), data: { turbo_method: :post } %>
  <% else %>
  <h4>Mission Candidates</h4>
    <ul>
      <% @mission_candidates.each do |mission_candidate| %>
        <li><%= missions_candidate.user %></li>
      <% end %>
    </ul>
  <% end %>
</div>
